.hero__content {
    padding-top: 70px;
}
.hero__title{
    font-size: 2.5rem;
    line-height: 55px;
}
.hero__title span{
    color: #df2020;
}
.hero__content p{
    font-size: 1rem;
    line-height: 30px;
    color: #777;
}
.hero__btn button{
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
     font-weight: 600;
}
.order_btn {
    background: #df2020;
    color: #fff;
    transition: 0.3s;
}
.order_btn:hover{
    background: #212245;
}
.all__food-btn{
    background: transparent;
    border: 1px solid #df2020 !important;
} 
.all__food-btn a {
    color: #df2020;
}
.hero__service p{
    color: #212245;
    font-weight: 600;
    font-size: .9rem;
}
.shipping_icon i {
    background: #df2020;
    border-radius: 50%;
    color: #fff;
    padding: 5px;
    font-weight: 500 !important;
}